[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
requests = "*"
moshsainipdf = "*"
beautifulsoup4 = "*"
selenium = "*"
pypdf2 = "*"
openpyxl = "*"
numpy = "*"
django = "==2.1"
django-tasty = "==0.14.2"
django-tastypie = "*"
pylint-django = "*"
gunicorn = "*"
whitenoise = "*"
pipfile-lock = "*"

[requires]
python_version = "3.8"
